<div class="container-fluid  text-center telnav" >
    <NavLink class="navlink" href="#">
        Real TIme Telemetry
    </NavLink>
    <NavLink class="navlink " href="#">
        Telemetry Records
    </NavLink>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
