@page "/"
@using FDMS
<div class="page">
    <div class="switchcontainer ">
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="datagrid">
        <h2>A DataGrid will go here </h2>

    </div>
</div>

@code {
    IEnumerable<Telemetry> telemetryData;
}
