@page "/"
@using FDMS
@implements IDisposable
<div class="page">
    <div class="switchcontainer ">
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="datagrid">
        <h2>A DataGrid will go here </h2>
        @if(telemetryData == null)
        {
            <h5>Waiting for incoming messages ... </h5>
        }
        else
        {
            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" 
                        AllowSorting="true" Data="@telemetryData" TItem="Telemetry" ColumnWidth="100px">
                
                <Columns>
                    <RadzenGridColumn TItem="Telemetry" Property="tailNum" Title="Tail Number"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="GforceParameters.accel_x" Title="Accel-X"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="GforceParameters.accel_y" Title="Accel-Y"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="GforceParameters.accel_z" Title="Accel-Z"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="GforceParameters.weight" Title="Weight"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="AltitudeParameters.altitude" Title="Altitude"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="AltitudeParameters.pitch" Title="Pitch"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="AltitudeParameters.bank" Title="Bank"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Telemetry" Property="timeStamp" Title="Time Stamp"></RadzenGridColumn>
                </Columns>      

            </RadzenGrid>
        }

    </div>
</div>

@code {
        IEnumerable<Telemetry> telemetryData;

        protected override void OnInitialized()
        {
            // create test data to view the datagrid
            List<Telemetry> tel = new List<Telemetry>()
        {
            new Telemetry() {tailNum="123", GforceParameters=new GForce(){accel_x=.01, accel_y=.01, accel_z=.01, weight=2.23}, AltitudeParameters=new Altitude(){altitude=100.1, pitch=0.21, bank=.0023}, timeStamp=DateTime.Today},
            new Telemetry() {tailNum="123", GforceParameters=new GForce(){accel_x=.01, accel_y=.01, accel_z=.01, weight=2.23}, AltitudeParameters=new Altitude(){altitude=100.1, pitch=0.21, bank=.0023}, timeStamp=DateTime.Today},
            new Telemetry() {tailNum="123", GforceParameters=new GForce(){accel_x=.01, accel_y=.01, accel_z=.01, weight=2.23}, AltitudeParameters=new Altitude(){altitude=100.1, pitch=0.21, bank=.0023}, timeStamp=DateTime.Today},
            new Telemetry() {tailNum="123", GforceParameters=new GForce(){accel_x=.01, accel_y=.01, accel_z=.01, weight=2.23}, AltitudeParameters=new Altitude(){altitude=100.1, pitch=0.21, bank=.0023}, timeStamp=DateTime.Today},
            new Telemetry() {tailNum="123", GforceParameters=new GForce(){accel_x=.01, accel_y=.01, accel_z=.01, weight=2.23}, AltitudeParameters=new Altitude(){altitude=100.1, pitch=0.21, bank=.0023}, timeStamp=DateTime.Today}
        };
        telemetryData = tel;
    }

    public void Dispose()
    {

    }
}
